/* --------------------------------------------------- Font Imports --------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Roboto:wght@100;400;500&display=swap');





/* --------------------------------------------------- Root Classes --------------------------------------------------- */


:root {
    --Nunito: 'Nunito', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --light-blue: #4C82FE;
}




/* --------------------------------------------------- App CSS --------------------------------------------------- */


body {
    margin: 0 0;
}

/* --------------------------------------------------- Headers CSS --------------------------------------------------- */

h1 {
    font-family: var(--Nunito)
}


/* --------------------------------------------------- Login Page CSS --------------------------------------------------- */


#login-big-div {
    display: flex;
    flex-direction: row;
}

.half-n-half {
    display: flex;
    height: 100vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
}


/* ----------------- Login Left Div CSS ----------------- */
#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 270px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px 20px;
}

input {
    height: 40px;
    margin: 5px;
    font-size: 16px;
    padding-left: 10px;
    letter-spacing: 3px;
    border: none;
    border-bottom: 2px solid #88acfc;
    outline: none;
}

.blue-button {
    height: 40px;
    border: none;
    font-size: 16px;
    letter-spacing: 3px;
    margin-top: 30px;
    background-color: var(--light-blue);
    color: #ffffff;
    border-radius: 25px;
}

.blue-button:hover {
    background-color: #88acfc;
}

/* Bandaid solution. Refactor pl0x */
#error-div {
    position: relative;
    padding-left: 14px
}

.error-p {
    color: #cf1515;
    font-size: 14px;
}


/* ----------------- Login Right Div CSS ----------------- */

#right-div {
    background-color: #2D4A70;
}

#waves-div {
    height: 100vh;
    width: 50vw;
    background-position: bottom;
    background-repeat: no-repeat;    
    background-size: 120% 80%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}